<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Пытаюсь приобщиться к миру программирования. По факту это требует довольно много усилий. Будем надеяться, что я справлюсь.

  Ссылка на мой GitHub: <a href='https://github.com/kgdpete2022' target="_blank">Перейти на GitHub автора</a>

  На странице <a href="../tech" title="Перейти на страницу Технологии">"Технологии"</a> можно почитать про технологии, которые авторы пытается освоить в настоящее время.


</p>
{% endblock %}